body {
    font-family: sans-serif;
}
.main1{
    display:block;
    justify-content: center;
    margin-left: 30%;
    margin-right: 20%;
    border: 1px solid rgb(17, 16, 16);
}

#headerStyle {
    background-color: #0a0f13;
    height: 10vh;

}

#headerStyle h1 {
    text-align: center;
    margin: 5px;
    color: white;
    line-height: 10vh;
}

input:focus,
select:focus {
    outline: none;
}

#description input {
    border: 1px solid white;
    width: 100%;
}

#description p {
    margin-bottom: 8px;
}

div #catagory {
    width: 50%;
    height: 2.5rem;
    margin-right: -4px;
    border: 1px solid white;
    border-right: 1px solid gray;
    font-size: 1.5rem;
    font-weight: 100;
    color: grey;
}

div #date {
    width: 49%;
    height: 2.5rem;
    border: 1px solid white;
    font-size: 1.5rem;
    color: grey;
}

#button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    
}

#button-container #add-task {
    padding: 15px 30px;
    margin: 10px;
    background: rgb(68, 57, 57);
    letter-spacing: 1px;
    font-size: 2rem;
    color: white;
    border: 2px white;
    border-radius: 5px;
}

#button-container #delete-task {
    padding: 15px 30px;
    margin: 10px;
    background: red;
    letter-spacing: 1px;
    font-size: 2rem;
    color: white;
    border: 2px white;
    border-radius: 5px;
}

#todo-list-container {
    margin-top: 2rem;
}

#todo-list-container ul {
    padding: 0;
    list-style: none;
}

#todo-list-container ul li:hover {
    background-color: lightslategray;
}

.todo {
    padding: 3px 10px;
    box-shadow: 1px 1px 1px 1px lightgrey;
    display: flex;
}

.todo .details {
    display: flex;
    flex-direction: row;
    width: 90%;
}

.details #abc {
    margin-right: auto;
}

#button-container-p button {
    padding: 10px 30px;
    color: #fff;
    text-decoration: none;
    letter-spacing: 1px;
    transition: 0.5s;
    margin-top: 20%;
    border-radius: 5px;
    background-color: #1369eb;
}

.todo .delete-button {
    width: 10%;
    padding: 3px;
    text-align: center;
    margin-top: 15px;
}